main {
  margin: 20px 22px;
}

section {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}

a {
  color: #005ED4;
}

button {
  float: left;
  padding: 4px 6px;
  font-size: 13px;
}

.infoButton {
  float: left;
}

img.logo {
  display: block;
  margin-left: auto;
  margin-left: auto;  display: block;
  margin-left: auto;
  margin-left: auto;
  height: 96px;
  width: 96px;
}

div.strong-list p {
  margin-top: 9px;
}

div.strong-list p strong {
  margin-right: 6px;
}

div.p-inline-button p {
  float: left;
}

div.p-inline-button {
  display: inline-block;
}

a p:parent {
  margin-bottom: 30px;
}

section.link-list p:not(:last-child) {
  margin-bottom: 20px;
}