#save-featflag-btn {
  text-transform: capitalize;
}

.features-container {
  border: 2px solid #ccc;
  width: 400px;
  height: 90px;
  overflow-y: scroll; 
  background: white;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-top: 10px;
}

.instructions {
  max-width: 290px;
  margin-bottom: 15px;
}
